#catalog {
    padding-top: 25px;
    background-color: var(--primary-color);
}

.yellow-box-catalog {
    width: 100%;
    height: 75px;
    /* Altura da caixa */
    background-color: var(--secondary-color);
    position: relative;
    overflow: visible;
    /* Permite que a imagem ultrapasse a caixa */
}

.white-text{
    color: white;
}

h2.gender {
    text-align: center;
    font-size: 48px;
    padding-top:15;
}

.container-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Duas colunas de tamanho igual */
    grid-template-rows: 1fr 1fr;
    /* Duas linhas de tamanho igual */
    width: 100%;
    /* Corrigido: 100% sem 'px' */
    height: 600px;
}

.box {
    padding: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.yellow-sentence-intense {
    color: #000000;
}

.red-sentence-intense {
    color: #c90505;
}

.product-images img {
    flex-shrink: 0;
    width: auto; /* Mantém a proporção da imagem */
    height: 300px; /* Define uma altura fixa */
    max-width: 100%; /* Previne que ultrapasse a largura do contêiner */
    object-fit: cover; /* Ajusta a imagem para caber no espaço definido */
    display: block;
    border: 5px solid var(--secondary-color);
}

/* Estilo para o carrossel de cada produto */
.product-carousel {
    position: relative;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    text-align: center;
    margin: 10px 0;
}


.product-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Ajusta o tamanho para acomodar todas as imagens */
}

.product-images img {
    flex-shrink: 0;
    width: 100%; /* Cada imagem ocupará toda a largura disponível */
    max-width: 100%; /* Ajusta para ser responsivo */
    display: block;
}

.product-carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
}

.product-carousel .prev {
    left: 5px;
}

.product-carousel .next {
    right: 5px;
}

