#marketing {
    margin-top: 50px;
}

.red-box {
    width: 100%;
    height: 45px;
    /* Altura da caixa */
    background-color: var(--primary-color);
    overflow: visible;
    /* Permite que a imagem ultrapasse a caixa */
}

#marketing img.marketing-img {
    width: 100%;
    height: 750px;
    object-fit: cover;
}

#about-us {
    margin-top: 20px;
    display: flex;
}

.about-us-left {
    flex: 1.5;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}

.about-us-left h3 {
    font-size: 48px;
}

.about-us-left p {
    font-size: 36px;
    padding-top: 35px;
}

.social-media {
    padding-top: 50px;
}

.about-us-left a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    /* Cor preta */
    font-size: 32px;
    /* Tamanho do ícone */
    padding: 20px;
}

.about-us-left a:hover {
    color: var(--primary-color);
}

.about-us-rigth {
    flex: 1;
    padding-right: 30px;
}

.about-us-rigth img {
    height: 750px;
    object-fit: cover;
}

.carousel {
    position: relative;
    width: 100%; /* Ocupa a largura total da tela */
    max-width: none; /* Remove qualquer limitação de largura */
    margin: 0 auto; /* Centraliza o carrossel */
    padding: 0;
    overflow: hidden; /* Garante que o conteúdo não saia da tela */
}

.carousel-images {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 750px;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Garante que as setas fiquem sobre as imagens */
}

button.prev {
    left: 10px; /* Aproxima a seta da esquerda */
}

button.next {
    right: 10px; /* Aproxima a seta da direita */
}

button:focus {
    outline: none;
}