/* Responsividade para telas menores */
@media (max-width: 768px) {

    /* Ajuste de largura das imagens e margens */
    .center-image {
        width: 30%;
        position: relative;
        top: 45px;
    }

    #description {
        margin-top: 100px;
    }

    #description h1 {
        font-size: 1em;
    }

    h2.unleash-your-strength {
        font-size: 24px;
    }

    /* Estiliza as caixas do catálogo para uma coluna em dispositivos menores */
    .container-items {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }

    .box {
        padding: 20px;
        font-size: 18px;
    }

    /* Ajustes no marketing */
    #marketing img.marketing-img {
        height: auto;
    }

    #about-us {
        flex-direction: column;
        margin-left: -50px;
        margin-right: -50px;
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 20px;
        /* Espaço entre os ícones */
        padding-top: 20px;
    }

    .about-us-left h3 {
        font-size: 32px;
    }

    .about-us-left p {
        font-size: 24px;
    }

    .about-us-left a {
        font-size: 20px;
        padding: 10px;
    }

    .about-us-left a i {
        font-size: 20px;
        /* Ajuste o valor conforme necessário */
    }

    /* Ajustes para o carrossel */
    .carousel {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .carousel-images img {
        height: auto;
    }

    button.prev,
    button.next {
        font-size: 18px;
        padding: 5px;
        /* Mesma configuração de padding para ambos os botões */
        width: 40px;
        /* Define uma largura fixa para ambos */
        height: 40px;
        /* Define uma altura fixa para ambos */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button.prev {
        left: 35px;
        /* Ajusta a seta da esquerda no mobile */
    }

    button.next {
        right: 5px;
        /* Ajusta a seta da direita no mobile */
    }

    .red-box {
        height: 25px;
    }

    h2.gender {
        font-size: 32px;
        padding-top: 10px;
    }

    #catalog .yellow-box {
        padding-bottom: 35px;
        width: 100%;
        height: 100px;
    }

    .red-sentence-intense {
        color: #000;
    }

    .white-text-responsive{
        color: white;
    }
    
}

@media (max-width: 480px) {
    .center-image {
        width: 50%;
        position: relative;
        top: 45px;
    }

    h2.unleash-your-strength {
        font-size: 20px;
    }

    .about-us-left h3 {
        font-size: 24px;
    }

    .about-us-left p {
        font-size: 18px;
    }

    .container-items {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .box {
        font-size: 16px;
    }

}